
#main{
    transition: height .5s;
}
#ll{
    position: absolute;
    color: #fff;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 65% 5%;
    transform: rotate(-90deg);
}
#x{
    color:#fff;
    position: absolute;
    margin: -5px 30px; 
    user-select: none;
    cursor: pointer;
}

#bt{
        display: none ;
        position: absolute;
        transition: 2s;
        z-index:1;
        background: linear-gradient(#000 0%,#5d3bf5 0%);
        margin: -25px 15px;
        transform: rotate(90deg);
        width:40px;
        height:80px;
        border: 1px solid #fff;
        border-radius: 2px;
        box-shadow: inset 0px 0px 6px black;
    }
    #bt:before{
        margin: -13px 8px;
        position: absolute;
        content: " ";
        width:20px;
        height:10px;
        border: 1px solid #fff;
        border-radius: 0px;
        transition: 2s;
    }
h3{
    font-size: 35px;
    font-weight: none;
    font-weight: bold;
    color:#fff;
    position: absolute;
    margin: -20px -5px;
}
.inputT{
    padding: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.inputT span{
    font-size: 18px;
    font-weight: bold;
    z-index: 1;
}
.inputT span:nth-child(2){
    padding: 10px 30px;
    border-radius: 5px;
    user-select: none;
    cursor: alias;
    width: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(150deg,#fff2 50%, transparent );
}
.inputT span:nth-child(2) input{
    -webkit-appearance: none;
    width:25px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid #fff;
    margin-right: 20px;
}
.inputT span:nth-child(2) input:checked{
    background: #fc8600;
    box-shadow: 0px 0px 10px #008cff;
    border-color: transparent;
}

.inputT span:nth-child(2) input::before{
content:" ";
position: absolute;
width: 15px;
height: 15px;
margin: 2.5px ;
margin-left: 3.48px;
z-index: 2;
border: 1px solid #fff;
border-radius: 10px;
}
.inputT span:nth-child(1) input::before{
    margin-left: 0px;
}
.inputT span:nth-child(2) input:nth-child(2):before{
margin-left: 3.5px;
}
#savef{
    margin: 20px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #7600fc;
    color:#fff;
    width: fit-content;
    background: #555;
    padding: 5px 20px;
    cursor: pointer;
    user-select: none;
    font-weight: bolder;
}
textarea{
    margin-top: 50px;
    margin-bottom: 5px;
    width:90%;
    height:250px;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px dashed #5d3bf5;
    background: linear-gradient(transparent,#5909ee77);
    color:#fff;
    outline-style: none;
    transition: .1s;
    z-index: 2;
    backdrop-filter: blur(5px)
  }
  input[type=file]{
      visibility: hidden;
  }
  #sm{
    opacity: 1;
    position: absolute;
    z-index: 0;
    margin: 0 -200px;
  }
  svg path{
    stroke: #3de8ff;
    stroke-width: 1.5px;
    stroke-dasharray:1000;
    stroke-dashoffset: 1000;
    animation-delay: 3s;
  }
  @keyframes draw {
    to {
      stroke-dashoffset: 0; /* Fully reveal the stroke */
    }
  }
  .circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 
        inset 0 0 50px #fff,
        inset 20px 0 60px violet,
        inset -20px 0 60px  #0044ff,
        inset 20px 0 300px violet,
        0 0 50px #fff,
        -10px 0 60px violet,
        10px 0 60px  #0044ff;
        
}
@keyframes spin{
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}
@keyframes pulse {
    50%{
        box-shadow: 
        inset 0 0 100px #fff,
        inset 40px 0 120px violet,
        inset -40px 0 120px #0044ff,
        inset 40px 0 600px violet,
        0 0 100px #fff,
        -20px 0 120px violet,
        20px 0 120px #0044ff;
    }
    
}
